@font-face{
font-family:"Helvetica W01 Light Cn";
src:url("../../fonts/098224b7-370a-43f8-bb4e-f3779e83a5d0.eot?#iefix");
src:url("../fonts/098224b7-370a-43f8-bb4e-f3779e83a5d0.eot?#iefix") format("eot"),url("../fonts/ff1d6fe9-1eb4-4b56-a54d-c4e9c3c231e4.woff") format("woff"),url("../fonts/7f604f39-0277-4222-9b21-cce46dc1a18e.ttf") format("truetype"),url("../fonts/836329ae-a7e9-4192-9b9c-433c0d254f0e.svg#836329ae-a7e9-4192-9b9c-433c0d254f0e") format("svg");
}
@font-face{
font-family:"Oron W26 Bold";
src:url("../fonts/360943da-57c7-4d1d-9e9b-e9e478b17bfe.eot?#iefix");
src:url("../fonts/360943da-57c7-4d1d-9e9b-e9e478b17bfe.eot?#iefix") format("eot"),url("../fonts/e41e1048-b108-46a9-b23c-11815ab6072d.woff") format("woff"),url("../fonts/5e6cfac4-7f52-4042-ba01-7ae31cc34af1.ttf") format("truetype"),url("../fonts/e10b056d-a2ee-4c2e-a24b-4d6c9fcdce41.svg#e10b056d-a2ee-4c2e-a24b-4d6c9fcdce41") format("svg");
}
@font-face{
font-family:"Oron W26 Black";
src:url("../fonts/028ee7ea-1002-49ac-a9b4-b438003b9a43.eot?#iefix");
src:url("../fonts/028ee7ea-1002-49ac-a9b4-b438003b9a43.eot?#iefix") format("eot"),url("../fonts/b6dcd196-1e61-4eee-8311-af702074803f.woff") format("woff"),url("../fonts/bf3af0a7-4a81-42a0-a7a2-20f2c81dd2fa.ttf") format("truetype"),url("../fonts/2d6ad37d-166b-4278-ad5a-52d6f50c29e8.svg#2d6ad37d-166b-4278-ad5a-52d6f50c29e8") format("svg");
}
@font-face{
font-family:"Oron W26 Bold Italic";
src:url("../fonts/43537ef1-c1a7-44b9-b890-d98b1fa7cb50.eot?#iefix");
src:url("../fonts/43537ef1-c1a7-44b9-b890-d98b1fa7cb50.eot?#iefix") format("eot"),url("../fonts/65beefba-647a-4692-87cf-d21db54e6256.woff") format("woff"),url("../fonts/3bfdff24-3686-4b30-bceb-7e3163493fae.ttf") format("truetype"),url("../fonts/da6e9f59-71d6-408a-879e-4026b64a86d7.svg#da6e9f59-71d6-408a-879e-4026b64a86d7") format("svg");
}
@font-face{
font-family:"OronW26-CondensedBlack";
src:url("../fonts/76399247-bd06-4d22-94df-9562983511a2.eot?#iefix");
src:url("../fonts/76399247-bd06-4d22-94df-9562983511a2.eot?#iefix") format("eot"),url("../fonts/cb7d9752-1169-4d92-b13a-8363c2803cc6.woff") format("woff"),url("../fonts/f28ffcf8-6bc1-460f-885b-5465ce048381.ttf") format("truetype"),url("../fonts/70e7509a-c79a-4585-8b5a-0d82a4c8c990.svg#70e7509a-c79a-4585-8b5a-0d82a4c8c990") format("svg");
}
@font-face{
font-family:"Oron W26 Condensed Bold";
src:url("../fonts/a5cbda29-1774-4103-ae4a-cf6a1346b8f8.eot?#iefix");
src:url("../fonts/a5cbda29-1774-4103-ae4a-cf6a1346b8f8.eot?#iefix") format("eot"),url("../fonts/d19fea61-8e7e-47ee-90c9-e8fda43dbdf3.woff") format("woff"),url("../fonts/add6ecff-3791-4346-b02f-91b51c757056.ttf") format("truetype"),url("../fonts/686a960f-b86e-482d-8d4b-29c038737352.svg#686a960f-b86e-482d-8d4b-29c038737352") format("svg");
}
@font-face{
font-family:"OronW26-CondensedLight";
src:url("../fonts/c6883dd6-7345-4575-8c71-3bfc693fe7fb.eot?#iefix");
src:url("../fonts/c6883dd6-7345-4575-8c71-3bfc693fe7fb.eot?#iefix") format("eot"),url("../fonts/86170c83-9da1-4ddd-a824-106f4d801b05.woff") format("woff"),url("../fonts/b4345fd7-ba50-48ef-93e5-e4e92f4b6c84.ttf") format("truetype"),url("../fonts/22544cf4-9679-4f0e-a8db-d8028ce1fcc9.svg#22544cf4-9679-4f0e-a8db-d8028ce1fcc9") format("svg");
}
@font-face{
font-family:"OronW26-CondensedMedium";
src:url("../fonts/1c8465e3-950b-4a45-9b53-f1c64e496e39.eot?#iefix");
src:url("../fonts/1c8465e3-950b-4a45-9b53-f1c64e496e39.eot?#iefix") format("eot"),url("../fonts/f71ceede-5e4d-428d-94a4-b1a1e9aedd10.woff") format("woff"),url("../fonts/8ad634ad-3b20-4fdd-99dd-fc4e2eec407f.ttf") format("truetype"),url("../fonts/08df2457-2079-4130-a82f-613106b0a06c.svg#08df2457-2079-4130-a82f-613106b0a06c") format("svg");
}
@font-face{
font-family:"Oron W26 Italic";
src:url("../fonts/4664d7f3-fc94-4431-89c6-34d7fdca131a.eot?#iefix");
src:url("../fonts/4664d7f3-fc94-4431-89c6-34d7fdca131a.eot?#iefix") format("eot"),url("../fonts/6b30bd91-a21d-4be2-9dfc-e2d0263a2924.woff") format("woff"),url("../fonts/5107a3ab-7aa2-4523-a812-0561ff09dddb.ttf") format("truetype"),url("../fonts/77b7238e-94fe-43a0-9c28-41009a3b9974.svg#77b7238e-94fe-43a0-9c28-41009a3b9974") format("svg");
}
@font-face{
font-family:"Oron W26 Light 785544";
src:url("../fonts/f8d5e306-0589-466d-af36-ff687666c919.eot?#iefix");
src:url("../fonts/f8d5e306-0589-466d-af36-ff687666c919.eot?#iefix") format("eot"),url("../fonts/bf8655e6-6dcb-44b9-8d78-7ee352f67252.woff") format("woff"),url("../fonts/0f01250c-057c-42cb-8a8e-ec43a6c0a4ed.ttf") format("truetype"),url("../fonts/272679dd-466b-4bc4-b984-6c0321fe0818.svg#272679dd-466b-4bc4-b984-6c0321fe0818") format("svg");
}
@font-face{
font-family:"Oron W26 Medium";
src:url("../fonts/be7e043f-294e-4cd3-977a-43235be4f036.eot?#iefix");
src:url("../fonts/be7e043f-294e-4cd3-977a-43235be4f036.eot?#iefix") format("eot"),url("../fonts/b6b972c1-be16-44f3-bdfc-9a4efbab65eb.woff") format("woff"),url("../fonts/50c28f0f-68b4-47c0-9b2f-78c239fa75de.ttf") format("truetype"),url("../fonts/e13f3110-24ca-46f0-a849-f74720842e74.svg#e13f3110-24ca-46f0-a849-f74720842e74") format("svg");
}
@font-face{
font-family:"Oron Extra W26 Black";
src:url("../fonts/62e285d7-c11d-469e-8478-fa70bf8179c9.eot?#iefix");
src:url("../fonts/62e285d7-c11d-469e-8478-fa70bf8179c9.eot?#iefix") format("eot"),url("../fonts/1207186e-23b5-4461-a907-f175ba80e7b3.woff") format("woff"),url("../fonts/88f0e7e3-8e2f-4c33-86bb-323eb2a92994.ttf") format("truetype"),url("../fonts/ba4f1efb-b3b4-412b-a9cb-b091232b2e8d.svg#ba4f1efb-b3b4-412b-a9cb-b091232b2e8d") format("svg");
}
@font-face{
font-family:"Oron W26 Text Light";
src:url("../fonts/ed278bb1-ce2c-4ed8-830b-d06bec4e679f.eot?#iefix");
src:url("../fonts/ed278bb1-ce2c-4ed8-830b-d06bec4e679f.eot?#iefix") format("eot"),url("../fonts/16841915-83d6-47e2-a711-4a5686054703.woff") format("woff"),url("../fonts/3ddb3806-5480-4ac4-a6fa-ebe792cefada.ttf") format("truetype"),url("../fonts/8f9db1e5-c342-4fec-aa01-042cc2e7e05d.svg#8f9db1e5-c342-4fec-aa01-042cc2e7e05d") format("svg");
}
@font-face{
font-family:"Oron W26 Text Bold";
src:url("../fonts/582d1d42-92e4-4d63-a8ec-6d0c2a6ec041.eot?#iefix");
src:url("../fonts/582d1d42-92e4-4d63-a8ec-6d0c2a6ec041.eot?#iefix") format("eot"),url("../fonts/3eaeeb50-93e7-43ad-8300-bd7412a9c8e7.woff") format("woff"),url("../fonts/145e5009-b654-4b80-b02c-3b910dced54c.ttf") format("truetype"),url("../fonts/95003465-f2ce-4a26-9e47-ff471837581e.svg#95003465-f2ce-4a26-9e47-ff471837581e") format("svg");
}
@font-face{
font-family:"Oron W26 Text Medium";
src:url("../fonts/cc4eed73-15e5-41ea-9a67-e77f31e56407.eot?#iefix");
src:url("../fonts/cc4eed73-15e5-41ea-9a67-e77f31e56407.eot?#iefix") format("eot"),url("../fonts/36679e14-a74b-47a1-a79b-b2e546e44972.woff") format("woff"),url("../fonts/18f6ba2d-8299-478a-9e5b-a989a18d38f6.ttf") format("truetype"),url("../fonts/3cb0be58-9b66-42a5-8046-92aacbd7e28b.svg#3cb0be58-9b66-42a5-8046-92aacbd7e28b") format("svg");
}
@font-face{
font-family:"Oron W26 Extended Light";
src:url("../fonts/6f6bffef-84d0-4566-a20b-127deedef7f3.eot?#iefix");
src:url("../fonts/6f6bffef-84d0-4566-a20b-127deedef7f3.eot?#iefix") format("eot"),url("../fonts/a55612d2-45d0-4079-91fa-c28548ed6619.woff") format("woff"),url("../fonts/4e767b18-0b99-4feb-a81b-2a3a1f3d3265.ttf") format("truetype"),url("../fonts/a034c4f5-0686-47b1-a4e7-63708b83fca1.svg#a034c4f5-0686-47b1-a4e7-63708b83fca1") format("svg");
}
@font-face{
font-family:"Oron W26 Extended Bold";
src:url("../fonts/a2233668-7666-4cdc-bffe-a47cbe14a9ca.eot?#iefix");
src:url("../fonts/a2233668-7666-4cdc-bffe-a47cbe14a9ca.eot?#iefix") format("eot"),url("../fonts/f8690266-30e5-42fc-bd56-70a6f9b630db.woff") format("woff"),url("../fonts/33f7c5de-b887-4326-9315-c82a789a3da3.ttf") format("truetype"),url("../fonts/2bddb7b0-3131-440e-a153-2fbf853e7c2b.svg#2bddb7b0-3131-440e-a153-2fbf853e7c2b") format("svg");
}
@font-face{
font-family:"OronW26-ExtendedRegular";
src:url("../fonts/119a5693-07cd-483c-bbf2-61bd299be9d8.eot?#iefix");
src:url("../fonts/119a5693-07cd-483c-bbf2-61bd299be9d8.eot?#iefix") format("eot"),url("../fonts/29a45f8f-6d8d-4787-bb3b-2f45f96192a9.woff") format("woff"),url("../fonts/8f5ebc3a-9d0b-4482-852f-0c28cde2139d.ttf") format("truetype"),url("../fonts/eb22ca9e-117e-4043-b49a-0a73611d0f4d.svg#eb22ca9e-117e-4043-b49a-0a73611d0f4d") format("svg");
}
@font-face{
font-family:"OronW26-ExtendedPoster";
src:url("../fonts/3c7fe022-726d-456a-bdab-7766de1e5936.eot?#iefix");
src:url("../fonts/3c7fe022-726d-456a-bdab-7766de1e5936.eot?#iefix") format("eot"),url("../fonts/1b6fb8eb-898f-4c26-88ef-0c817ef5c1ec.woff") format("woff"),url("../fonts/8194d0c8-e307-43a0-9be7-a5c34cc8710d.ttf") format("truetype"),url("../fonts/9c1f9446-8372-4231-a992-10dde9daca71.svg#9c1f9446-8372-4231-a992-10dde9daca71") format("svg");
}
@font-face{
font-family:"Oron W26 Extended Black";
src:url("../fonts/4b44a786-867c-45b0-8a2c-96542c97bdf1.eot?#iefix");
src:url("../fonts/4b44a786-867c-45b0-8a2c-96542c97bdf1.eot?#iefix") format("eot"),url("../fonts/902ac60b-c714-401e-8194-a9c32e31fe95.woff") format("woff"),url("../fonts/276f6854-ba7a-4f4f-a318-2210b558b907.ttf") format("truetype"),url("../fonts/27182c25-a062-45e9-8e89-0ab7aad3be32.svg#27182c25-a062-45e9-8e89-0ab7aad3be32") format("svg");
}
@font-face{
font-family:"Oron W26 Light 805117";
src:url("../fonts/0a52efa6-c3c2-400f-9f78-1beec181d028.eot?#iefix");
src:url("../fonts/0a52efa6-c3c2-400f-9f78-1beec181d028.eot?#iefix") format("eot"),url("../fonts/4aa0d6fd-57e0-431d-b91a-1f485591611d.woff") format("woff"),url("../fonts/5c9f92a0-02d5-43ed-9078-141438e1c088.ttf") format("truetype"),url("../fonts/2803e1ab-b756-46fb-977e-2749f3dec337.svg#2803e1ab-b756-46fb-977e-2749f3dec337") format("svg");
}
@font-face{
font-family:"Oron Yad W26";
src:url("../fonts/2a45a9df-817e-4844-983f-59a86514daa8.eot?#iefix");
src:url("../fonts/2a45a9df-817e-4844-983f-59a86514daa8.eot?#iefix") format("eot"),url("../fonts/d20ec4da-6502-41bf-b9a8-ac9b6031ee57.woff") format("woff"),url("../fonts/cd12135e-c013-4bac-86a3-2eaf464c6148.ttf") format("truetype"),url("../fonts/6482fa4f-15a5-4ec5-a5b0-1ad03a14068b.svg#6482fa4f-15a5-4ec5-a5b0-1ad03a14068b") format("svg");
}
@font-face{
font-family:"Oron Yad W26 Bold";
src:url("../fonts/28631105-7a04-4748-a8b5-05c6049322c6.eot?#iefix");
src:url("../fonts/28631105-7a04-4748-a8b5-05c6049322c6.eot?#iefix") format("eot"),url("../fonts/0d397aaf-b1cc-4f78-8441-cc014b1e9b36.woff") format("woff"),url("../fonts/e4137b0e-cb1b-42d5-82d5-d92e3d03cdad.ttf") format("truetype"),url("../fonts/33ea1341-f2ee-44e6-818a-9f072db39676.svg#33ea1341-f2ee-44e6-818a-9f072db39676") format("svg");
}
@font-face{
font-family:"FranckerW02-CondensedBo";
src:url("../fonts/3a17b9b6-a58a-4d68-bbbe-6b6c3babd25d.eot?#iefix");
src:url("../fonts/3a17b9b6-a58a-4d68-bbbe-6b6c3babd25d.eot?#iefix") format("eot"),url("../fonts/786fc160-4139-44ff-b6b1-aa9c54e3561e.woff") format("woff"),url("../fonts/99492324-8913-42a4-946e-497e6dc6992d.ttf") format("truetype"),url("../fonts/7893089c-cfdd-4a12-bfc6-9a83a1efdacd.svg#7893089c-cfdd-4a12-bfc6-9a83a1efdacd") format("svg");
}
